name: Run Python Script with Docker

on:
  push:

jobs:
  docker-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t test-image .

      - name: Run Docker container
        run: docker run --rm test-image
